@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --onyx: #393e46ff;
    --rose-red: #c33c54ff;
    --tropical-indigo: #9088d4ff;
    --lavender-blush: #ffeaecff;
    --celadon: #726a95;
}
* {
    box-sizing: border-box;
  }
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding-left: 15vw;
    padding-right: 15vw;
}
@media screen and (max-width: 600px) {
body {
  padding-left: 0;
  padding-right: 0;
}}

main {

}
p {
    margin-bottom: 0;
}
@media screen and (max-width: 600px) {
main {
    padding-left: 20px;
    padding-right: 20px;
}
}
header h1 {
    font-family: 'Tilt Warp', cursive;
    color: var(--onyx);
    font-size: calc(2rem + 2vw);
}

    header h1 .one {
      color: var(--celadon);
    }

    header h1 .two {
        color: var(--tropical-indigo);
        font-size: calc(1rem + 1vw);
    }




    /* input group */
    
