@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tilt+Warp&display=swap');
:root {
    --onyx: #393e46ff;
    --rose-red: #c33c54ff;
    --tropical-indigo: #9088d4ff;
    --lavender-blush: #ffeaecff;
    --celadon: #726a95;
}
* {
    box-sizing: border-box;
  }
body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    padding-left: 15vw;
    padding-right: 15vw;
}
@media screen and (max-width: 600px) {
body {
  padding-left: 0;
  padding-right: 0;
}}

main {

}

@media screen and (max-width: 600px) {
main {
    padding-left: 20px;
    padding-right: 20px;
}
}
h3 {
    color: var(--onyx);
}
header h1 {
    font-family: 'Tilt Warp', cursive;
    color: var(--onyx);
    font-size: calc(2rem + 2vw);}

    header h1 span {
      color: #726a95;
    }

.main-box {
    background-color: #47425D;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    display: inline-block;
}

.main-box-ads {
    background-color: var(--celadon);
    border-radius: 15px;
    padding: 1px;
    width: 100%;
    display: inline-block;
}
.main-box-ads p {
    text-align: center;
}
.main-box h2 {
    color: white;
    padding-left: 15px;
}


.main-box-2 {
  border-radius: 5px;
  width: 100%;
  display: inline-block;
}

.main-box-2 h2 {
  background-color: #47425D;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 23.7%;
    margin: .6%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
.column:hover{
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.1);
}
  .column img {
    width: 50%;
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  }

    .column h3 {
        text-align: center;
        color: var(--onyx);
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .column-2 {
    float: left;
    width: 32.1%;
    margin: .6%;
    background-color: white;
    border-radius: 5px;
  }

  @media screen and (max-width: 600px) {
    .column-2 {
      width: 100%;
    }

  }

  .column-2 ul {
    padding-left: 5vw;
    padding-right: 5vw;

  }

  .column-2 ul li {
  }
.column-2:hover{
}

.column-2 h3 {
  text-align: center;
  color: #726a95;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 48.8%;
    }
  }

  ul {
    color: var(--onyx);
    font-weight: 500;
    padding: 10px;
  }

  footer {
    background-color: var(--celadon);
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin: 0;
  }

  footer  p {
    text-align: center;
    color: white;
  }
  table,tbody, th, td {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }

  .sub {
    font-size: 20px;
  }


  .collapsible {
    cursor: pointer;
    background-color: #47425D;
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.2s;
  }
  
  .active, .collapsible:hover {
    background-color: #726a95;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
  }

  h1 {
    font-family: 'Tilt Warp', cursive;
    color: var(--onyx);
    font-size: calc(2rem + 1.5vw);
    padding-left: 5px;
}