@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('files/pxiDyp8kv8JHgFVrJJLmv1pVGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('files/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('files/pxiDyp8kv8JHgFVrJJLm21lVGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('files/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('files/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('files/pxiGyp8kv8JHgFVrJJLucHtA.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('files/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('files/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLm111VGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLm81xVGdeOcEg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('files/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('files/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('files/pxiGyp8kv8JHgFVrLPTucHtA.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('files/pxiEyp8kv8JHgFVrJJnecmNE.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('files/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('files/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2') format('woff2');
  }
  