/* Font Imports */
@import url(../fonts/jetbrains.css);
@import url(../fonts/montserrat.css);
@import url(../fonts/poppins-tilt-warp.css);
/* Larger components */
@import url(headers.css);
@import url(input-group.css);
@import url(old.css);

/* Root Variables */
:root {
  --onyx: #393e46ff;
  --rose-red: #c33c54ff;
  --tropical-indigo: #9088d4ff;
  --lavender-blush: #B5C18E;
  --celadon: #726a95;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Link Styles */
a {
  color: var(--rose-red);
  text-decoration: none;
  padding: 3px;
  margin: -3px;
  border-radius: 5px;
  transition: 0.1s;
}

a:hover {
  color: white;
  background-color: var(--lavender-blush);
}

/* Main Section Styles */
main {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media screen and (max-width: 850px) {
  main {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

/* Headings */
h1 {
  font-family: 'Tilt Warp', cursive;
  color: var(--onyx);
  font-size: calc(2rem + 1.5vw);
}

h2, h3 {
  color: var(--onyx);
}



/* Collapsible Content */
.collapsible {
  cursor: pointer;
  background-color: #dfdfdf;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 5px;
  color: var(--onyx);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.2s;
  margin-bottom: 3px;
}

.collapsible:hover, .active {
  background-color: var(--lavender-blush);
  color: var(--onyx);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #dfdfdf;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Processing Box */
.console {
  position: relative;
  background-color: #D9D9D9;
  border-radius: 3px;
  height: 23vh;
  margin-bottom: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.console p {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  color: #3c454c;
  position: relative;
  bottom: -10px;
  left: 5px;
}

.console .red {
  color: var(--rose-red);
}
.red {
    color: var(--rose-red);
}
/* content Box */
.content-box {
  background-color: #EEF0E5;
  transition: 0.3s ease-in-out;
  padding: 3vw;
  border-radius: 5px;
  margin-top: 2vh;
}

/* Footer */
footer {
  margin-top: 25px;
  background-color: #EEF0E5;
  padding: 5vh;
}

footer .copywrite {
  text-align: center;
  margin: 0;
}

footer .info {
  text-align: center;
  margin: 0;
}

/* Message box: */

.message-box {
    background-color: var(--lavender-blush);
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 15px;
  }
  .message-box h2 {
    color: var(--rose-red);
    padding: 0;
    margin: 0;
  }

  .message-box p {
    color: var(--onyx);
    font-size: 20px;
  }

  .message-box button {
    width: 100%;
    border: 2px solid var(--rose-red);
    color: var(--rose-red);
    background-color: var(--lavender-blush);
    border-radius: 15px;
  }

  .message-box button:hover {
    background-color: var(--rose-red);
    color: white;
  }

  .message-box .double-button {
    margin-bottom: -15px;
  }

  .message-box .double-button button {
    margin: 0;
    width: 49.66%;
    margin-bottom: 0;
  }