header {
    position: relative; /* Reference for absolutely positioned children */
    padding-left: 10px;
    transition: 0.2s;
  }
  
  header h1 {
    margin-bottom: 0;
    padding-left: 0;
    color: var(--onBackground);
  }
  
  header h1 span {
    color: var(--secondary);
  }
  
  header .maker {
    margin-bottom: 35px;
  }
  
  header .maker .one {
    margin-top: -21px;
    font-size: 30px;
    font-weight: 800;
    padding-left: 20.5px;
    color: var(--background);
    position: absolute;
  }
  
  header .maker .two {
    margin-top: -20px;
    font-size: 30px;
    font-weight: 800;
    padding-left: 20px;
    color: var(--onBackground);
    position: absolute;
  }
  
  header i {
    color: var(--primary);
    font-size: 25px;
  }
  
  header .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  header a {
    padding: 0;
    margin: 0;
  }
  header p {
    margin: 0;
    padding: 1px 2px;
    font-family: 'Tilt Warp', cursive;
    font-weight: 100;
    color: var(--background);
    margin-top: 2px;
  }
  
  #hover-icon:hover {
    cursor: pointer;
  }
  
  #hover-icon:hover #hover-text {
    background-color: var(--primary);
    color: var(--onPrimary);
    border-radius: 5px;
    transition: 0.2s;
  }
  