/* Font Imports */
@import url(../fonts/jetbrains.css);
@import url(../fonts/montserrat.css);
@import url(../fonts/poppins-tilt-warp.css);
@import url(../fonts/poppins.css);
/* Larger components */
@import url(headers.css);
@import url(input-group.css);
@import url(vars.css);

/* Root Variables */
:root {
  --onyx: #393e46ff;
  --rose-red: #c33c54ff;
  --tropical-indigo: #9088d4ff;
  --lavender-blush: #B5C18E;
  --celadon: #726a95;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryContainer);
  border-radius: var(--radius-big);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}


/* Scrollbar Styles */
.console::-webkit-scrollbar {
  width: 20px;

}

.console::-webkit-scrollbar-track {
  background: var(--onSecondary);
    background-clip: content-box;
    border: 7px solid transparent;
}

.console::-webkit-scrollbar-thumb {
  background: var(--secondary);
    background-clip: content-box;
    border: 7px solid transparent;
}

.console::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
  background-clip: content-box;
  border: 7px solid transparent;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

hr {
 border: 1px solid var(--primary);
}
/* Link Styles */
.link {
  color: var(--error);
  text-decoration: none;
  padding: 3px;
  margin: -3px;
  border-radius: var(--radius-sml);
  transition: 0.1s;
}

.link:hover {
  color: var(--background);
  background-color: var(--secondary);
}
p {
  color: var(--onBackground);
}
/* Main Section Styles */
main {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media screen and (max-width: 850px) {
  main {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

/* Headings */
h1 {
  font-family: 'Tilt Warp', cursive;
  color: var(--primary);
  font-size: calc(2rem + 1.5vw);
  padding-left: 15px;
}

h2, h3 {
  color: var(--onBackground);
}



/* Collapsible Content */
.collapsible {
  cursor: pointer;
  background-color: var(--primary);
  font-size: 17px;
  font-family: poppins;
  font-weight: var(--font-weight-coll);
  border-radius: var(--radius-big);
  color: var(--onPrimary);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.1s;
  margin-bottom: 3px;
}

.collapsible:hover, .active {
  background-color: var(--tertiary);
  color: var(--onTertiary);
}

.open {
  border-radius: var(--radius-big) var(--radius-big) var(--radius-sml) var(--radius-sml);
  
}

.closed {
  border-radius: var(--radius-big);
}



.collapsible:after {
  content: '\002B';
  color: var(--onPrimary);
  font-weight: var(--font-weight-coll-content);
  float: right;
  margin-left: 5px;
  transition: 0.2s;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  transition: 0.1s ease-in-out;
  max-height: 0;
  overflow: hidden;
  border-radius: var(--radius-big);
  transition: max-height 0.2s ease-out;
  background-color: var(--secondaryContainer);
  color: var(--onSecondaryContainer);
  margin-bottom: 5px;
}

.c-open {
  border-radius: var(--radius-sml) var(--radius-sml) var(--radius-big) var(--radius-big);
}

.c-closed {
  border-radius: var(--radius-big);
}
.content p {
  font-weight: var(--font-weight-coll-content);
}
/* Processing Box */
.console {
  position: relative;
  background-color: var(--primaryContainer);
  border-radius: var(--radius-med);
  height: 23vh;
  margin-bottom: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.console p {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  color: var(--onPrimaryContainer);
  position: relative;
  bottom: -10px;
  left: 5px;
}

.console .red {
  color: var(--error);
}
.red {
    color: var(--error);
}
/* content Box */
.content-box {
  font-family: poppins;
  transition: 0.3s ease-in-out;
  margin-top: 2vh;
}

/* Footer */
footer {
  margin-top: 25px;
  background-color: var(--secondaryContainer);
  padding: 5vh;
}



footer .copywrite {
  text-align: center;
  color: var(--onSecondaryContainer);
  margin: 0;
}

footer .info {
  color: var(--onSecondaryContainer);
  text-align: center;
  margin: 0;
}
/* Main Section Styles */
footer img {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media screen and (max-width: 650px) {
  footer img  {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
/* Message box: */

.message-box {
    background-color: var(--secondary);
    border-radius: var(--radius-big);
    margin-bottom: 5px;
    padding: 15px;
  }
  .message-box h2 {
    color: var(--error);
    padding: 0;
    margin: 0;
  }

  .message-box p {
    color: var(--onBackground);
    font-size: 20px;
  }

  .message-box button {
    width: 100%;
    border: 2px solid var(--error);
    color: var(--error);
    background-color: var(--secondary);
    border-radius: var(--radius-med);
  }

  .message-box button:hover {
    background-color: var(--error);
    color: var(--background);
  }

  .message-box .double-button {
    margin-bottom: -15px;
  }

  .message-box .double-button button {
    margin: 0;
    width: 49.66%;
    margin-bottom: 0;
  }